footer {
  background-color: #ffc107;
  color: bisque;
  text-align: center;
  padding: 20px 0;
}

.footer-row {
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  color: black;
}
a
{
    color: black;
}

.btn-primary-block {
    background-color: #ffc107;
    width: 50%;
    border-radius: 50px;
  }


.btn-light
{
    border-radius: 50px;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
}