header {
  color: bisque;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hero-block {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("/images/header.jpg");
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

.hero-content {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.form-control {
  width: 100%;
}

.booking-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: end;
}
h1 {
  color: white;
}
.search-field {
  background-color: transparent;
  border: none;
  color: white;
}

.search-field::placeholder {
  color: white;
}

.btn-primary {
  background-color: #ffc107;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 75%;
  border: none;
  padding: 10px 20px;
}


.booking-form label {
  color: white;
}
