header {
  color: bisque;
  padding: 10px;
  text-align: center;
}




.hero-block {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("/images/header.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

.hero-content {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

.form-control
{
    width: 100%;
}
  
.booking-form .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  color: white;
}
.search-field {
  background-color: transparent;
  border: none;
  color: white;
}

.search-field::placeholder {
  color: white;
}

.btn-primary-block {
    background-color: #ffc107;
    width: 50%;
    border-radius: 50px;
  }